    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Western:wght@100..900&display=swap');

    /*Seletor Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    /*ROOT COM FONTES E CORES*/
:root {
    /*CORES*/
    --fundo: #221C1C;
    --botao: #733EB7;
    --degradê1: #431766; /*Essa tambem é a cor de fundo dos cards do depoimento!*/
    --degrade2: #7844D2;/*Essa cor tambem sera usada como cor de fundo nos cards do case de sucesso!!*/
    --degrade3: #7241C8;
    --degradê4: #29144D;
    /*Agora é o degradê serviço*/
    --degradê-serviço1: #FFFFFF;
    --degradê-serviço2:#B109FF;
    --degradê-serviço3: #3F0073; /*Essa cor tambem sera usada como cor de fundo, na parte case de sucesso!!*/
    /*FONTES*/
    --menu: "Public Sans", sans-serif;
    --h1: "Momo Trust Display", sans-serif;
    --h2:  "Kanit", sans-serif;
    --paragrafo: "Sanchez", serif;
    --paragrafo-do-depoimento: "Vollkorn", serif;
    --botão-fonte: "Noto Sans Syriac Western", sans-serif;
}

/*BODY*/
body  {
    background-color: var(--fundo);
}

/*HEADER PARTE DO CABEÇALHO, LOGO LINKS ETC*/
header {
    width: 100%;
    padding: 10px 6%;
}

/*HEADER NAV*/
header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*HEADER NAV IMG*/
header nav img {
    width: 100px;
    height: 100px;
}

/*PARTE DOS LINKS UL*/
header nav ul {
    display: flex;
    list-style: none;
}

/*PARTE DOS LINKS LI*/
header nav ul li {
    margin: 10px;
}

/*PARTE DOS LINKS (A)*/
header nav ul li > a {
    color: white;
    font-family: var(--menu);
    text-decoration: none;
    transition: .3s;
}

/*PARTE DOS LINKS (A) HOVER*/
header nav ul li > a:hover {
    color: rgb(144, 144, 144);
    text-decoration: underline;
}

/*PARTE DO BOTÃO CONTATO*/
header nav > a {
    color: white;
    background-color: var(--botao);
    text-decoration: none;
    padding: 13px;
    border-radius: 21px;
    font-weight: 600;
    font-family: var(--botão-fonte);
    transition: .3s;
}

/*PARTE DO BOTÃO CONTATO HOVER*/
header nav > a:hover {
    color: grey;
    background-color: #421c75;
}

/*MENU HAMBURGUER*/
header nav #burguer-menu {
    cursor: pointer;
    color: white;
    display: none;
}

/*PARTE DO MENU MOBILE*/
header #menu-Mobile {
    display: flex;
    align-items: end;
    flex-direction: column;
}
/*MENU MOBILE (UL)*/
header #menu-Mobile ul {
    display: none;
    list-style: none;
}

/*MENU MOBILE (LI)*/
header #menu-Mobile ul > li {
    padding: 20px;
}

/*MENU MOBILE (A)*/
header #menu-Mobile ul > li > a {
    color: white;
    font-family: var(--menu);
    text-decoration: none;
}

/*MENU MOBILE (BOTÃO)*/

